<?xml version="1.0"?>

<launch>

  <!-- node:-->
  <!-- pkg: Package of Node-->
  <!-- type: Node type. There must be a corresponding executable with the same name-->
  <!-- respawn: Restart the node automatically if it quits-->
  <!-- name: Name of Node-->
  <!-- output: If 'screen', stdout/stderr from the node will be sent to the screen-->
  <!-- args: Pass arguments to node -->
  <!-- <param name ="/use_sim_time" value="true"/> -->

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen"> 

  <!--command="load|dump|delete": rosparam command-->
  <!--file: Name of rosparam file (load or dump commands)-->
  <!--param: Name of parameter; Parameter will be setted on the Parameter Server-->
  <!--ns:Scope the parameters to the specified namespace-->

    <rosparam file="$(find thi_exploration)/config/costmap_common_params_thi_exploration.yaml"     command="load" ns="global_costmap" /> 
    <rosparam file="$(find thi_exploration)/config/costmap_common_params_thi_exploration.yaml"     command="load" ns="local_costmap" />
    <rosparam file="$(find thi_exploration)/config/local_costmap_params_thi_exploration.yaml"      command="load" />
    <rosparam file="$(find thi_exploration)/config/global_costmap_params_thi_exploration.yaml"     command="load" /> 
    <rosparam file="$(find thi_exploration)/config/base_local_planner_params_thi_exploration.yaml" command="load" /> 
    <param name="controller_frequency" value="5"/>

    <!-- remap topics -->

    <!-- remap topics for the Pioneer 3-AT -->
    <!-- remap from="cmd_vel" to="/RosAria/cmd_vel"/> -->
    <!-- remap from="odom"    to="/RosAria/pose"/> -->

    <!-- remap topics for the robot0 in the simulation -->
    <remap from="cmd_vel" to="/robot0/cmd_vel"/>
    <remap from="odom"    to="/robot0/odom"/>
  </node>
  
  
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find thi_exploration)/config/navigation_config_thi_exploration.rviz" />

</launch> 
