<?xml version="1.0"?>

<launch>
   <!-- include: Name of file to include -->
   <!-- node:-->
   <!-- pkg: Package of Node-->
   <!-- type: Node type. There must be a corresponding executable with the same name-->
   <!-- respawn: Restart the node automatically if it quits-->
   <!-- name: Name of Node-->
   <!-- output: If 'screen', stdout/stderr from the node will be sent to the screen-->
   <!-- args: Pass arguments to node -->
   <!-- anon name: Generates an anonymous id based on name. name itself is a unique identifier-->


   <include file="$(find stdr_robot)/launch/robot_manager.launch" />
   <node type="stdr_server_node" pkg="stdr_server" name="stdr_server" output="screen" args="$(find stdr_resources)/maps/sparse_obstacles.yaml"/>

   <node pkg="tf" type="static_transform_publisher" name="world2map" args="0 0 0 0 0 0  map world 100" />
   <include file="$(find stdr_gui)/launch/stdr_gui.launch"/>

   <node pkg="stdr_robot" type="robot_handler" name="$(anon robot_spawn)" args="add $(find reactive_navigation)/launch/pandora_robot_with_laser.yaml 2 2 0.5" />
</launch>
